# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#folders we don't need
[Oo]bj/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

[Oo]bj/
About/PublishedFileId.txt
Assemblies/Assembly-CSharp.dll
Assemblies/UnityEngine.dll
Assemblies/Assembly-CSharp-firstpass.dll
Assemblies/UnityEngine.UI.dll
Assemblies/TextMeshPro-1.0.55.56.0b11.dll
Assemblies/NAudio.dll
Assemblies/NVorbis.dll
Source/Dependencies
Source/DiscordWebhookToken.txt
updateinfo
